<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- 配置数据库信息 -->
        <!-- 方言(连接的数据库类型) -->
        <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <!-- 连接的数据库名 -->
        <property name="connection.url">jdbc:mysql:///circle_of_campus</property>
        <!-- 连接数据库的驱动 -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <!-- 用户名及密码 -->
        <property name="connection.username">root</property>
        <property name="connection.password">123456</property>

        <property name="hibernate.event.merge.entity_copy_observer">allow</property>

        <!-- 自动根据JavaBean对象来更新表结构 -->
        <!--<property name="hbm2ddl.auto">create</property>-->

        <!-- 显示生成的SQL语句 -->
        <property name="hibernate.show_sql">true</property>

        <!-- 配置映射信息 -->
        <mapping class="team.coc.pojo.Campus" />
        <mapping class="team.coc.pojo.CampusCircle" />
        <mapping class="team.coc.pojo.Faculty" />
        <mapping class="team.coc.pojo.GoodFriend" />
        <mapping class="team.coc.pojo.GoodFriendRequest" />
        <mapping class="team.coc.pojo.Group" />
        <mapping class="team.coc.pojo.GroupMember" />
        <mapping class="team.coc.pojo.Society" />
        <mapping class="team.coc.pojo.SocietyCircle" />
        <mapping class="team.coc.pojo.SocietyRequest" />
        <mapping class="team.coc.pojo.User" />

    </session-factory>
</hibernate-configuration>